.header {
  padding: 20px;
  background-color: $darkBlue;

  .header-content {
      display: flex;
      justify-content: space-between;
  }

  .logo {
    width: 250px;
  }

  .tmdb-logo {
    width: 107px;
  }

  img {
    width: 100%;
  }
}